.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  // Removing extra space for smaller devices
  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);

  // Elevating the whole section up to eliminate the white space due to section skewing
  margin-top: -10rem;

  // Selecting all direct children of the features sections to skew them in the opposite direction
  & > * {
    transform: skewY(7deg);
  }
  // Removing extra padding to save space
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  //Creating space up and down the section
  padding: 25rem 0 15rem 0;
  // To eliminate the inclined white space
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  padding: 10rem 0;
}

.book {
  // On a 105deg angle, from 0% to 50% is blank white, from 50% forward is blank orangered or transparent
  //--transparent is a color
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
